.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-6 {
  order: 6 !important;
}

.order-7 {
  order: 7 !important;
}

.order-8 {
  order: 8 !important;
}

.order-9 {
  order: 9 !important;
}

.order-10 {
  order: 10 !important;
}

.order-11 {
  order: 11 !important;
}

.order-12 {
  order: 12 !important;
}

.order-13 {
  order: 13 !important;
}

.order-14 {
  order: 14 !important;
}

.order-15 {
  order: 15 !important;
}

.order-16 {
  order: 16 !important;
}

.order-17 {
  order: 17 !important;
}

.order-18 {
  order: 18 !important;
}

.order-19 {
  order: 19 !important;
}

.order-20 {
  order: 20 !important;
}