.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.p-6 {
  padding: 4.5rem !important;
}

.p-7 {
  padding: 6rem !important;
}

.p-8 {
  padding: 8rem !important;
}

.p-9 {
  padding: 12rem !important;
}

.p-10 {
  padding: 18rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.px-6 {
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;
}

.px-7 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.px-8 {
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.px-9 {
  padding-right: 12rem !important;
  padding-left: 12rem !important;
}

.px-10 {
  padding-right: 18rem !important;
  padding-left: 18rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.py-7 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-8 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.py-9 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
}

.py-10 {
  padding-top: 18rem !important;
  padding-bottom: 18rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pt-7 {
  padding-top: 6rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pt-9 {
  padding-top: 12rem !important;
}

.pt-10 {
  padding-top: 18rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pb-6 {
  padding-bottom: 4.5rem !important;
}

.pb-7 {
  padding-bottom: 6rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.pb-9 {
  padding-bottom: 12rem !important;
}

.pb-10 {
  padding-bottom: 18rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

.ps-6 {
  padding-left: 4.5rem !important;
}

.ps-7 {
  padding-left: 6rem !important;
}

.ps-8 {
  padding-left: 8rem !important;
}

.ps-9 {
  padding-left: 12rem !important;
}

.ps-10 {
  padding-left: 18rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pe-6 {
  padding-right: 4.5rem !important;
}

.pe-7 {
  padding-right: 6rem !important;
}

.pe-8 {
  padding-right: 8rem !important;
}

.pe-9 {
  padding-right: 12rem !important;
}

.pe-10 {
  padding-right: 18rem !important;
}

.logp-1 {
  padding-inline: 0.25rem !important;
  padding-block: 0.25rem !important;
}

.logp-2 {
  padding-inline: 0.5rem !important;
  padding-block: 0.5rem !important;
}

.logp-3 {
  padding-inline: 1rem !important;
  padding-block: 1rem !important;
}

.logp-4 {
  padding-inline: 1.5rem !important;
  padding-block: 1.5rem !important;
}

.logp-5 {
  padding-inline: 3rem !important;
  padding-block: 3rem !important;
}

.logp-6 {
  padding-inline: 4.5rem !important;
  padding-block: 4.5rem !important;
}

.logp-7 {
  padding-inline: 6rem !important;
  padding-block: 6rem !important;
}

.logp-8 {
  padding-inline: 9rem !important;
  padding-block: 9rem !important;
}

.logp-9 {
  padding-inline: 12rem !important;
  padding-block: 12rem !important;
}

.logp-10 {
  padding-inline: 18rem !important;
  padding-block: 18rem !important;
}

.logp-auto {
  padding-inline: auto !important;
  padding-block: auto !important;
}

.logpx-1 {
  padding-inline: 0.25rem !important;
}

.logpx-2 {
  padding-inline: 0.5rem !important;
}

.logpx-3 {
  padding-inline: 1rem !important;
}

.logpx-4 {
  padding-inline: 1.5rem !important;
}

.logpx-5 {
  padding-inline: 3rem !important;
}

.logpx-6 {
  padding-inline: 4.5rem !important;
}

.logpx-7 {
  padding-inline: 6rem !important;
}

.logpx-8 {
  padding-inline: 9rem !important;
}

.logpx-9 {
  padding-inline: 12rem !important;
}

.logpx-10 {
  padding-inline: 18rem !important;
}

.logpx-auto {
  padding-inline: auto !important;
}

.logpy-1 {
  padding-block: 0.25rem !important;
}

.logpy-2 {
  padding-block: 0.5rem !important;
}

.logpy-3 {
  padding-block: 1rem !important;
}

.logpy-4 {
  padding-block: 1.5rem !important;
}

.logpy-5 {
  padding-block: 3rem !important;
}

.logpy-6 {
  padding-block: 4.5rem !important;
}

.logpy-7 {
  padding-block: 6rem !important;
}

.logpy-8 {
  padding-block: 9rem !important;
}

.logpy-9 {
  padding-block: 12rem !important;
}

.logpy-10 {
  padding-block: 18rem !important;
}

.logpy-auto {
  padding-block: auto !important;
}

.logps-1 {
  padding-inline-start: 0.25rem !important;
}

.logps-2 {
  padding-inline-start: 0.5rem !important;
}

.logps-3 {
  padding-inline-start: 1rem !important;
}

.logps-4 {
  padding-inline-start: 1.5rem !important;
}

.logps-5 {
  padding-inline-start: 3rem !important;
}

.logps-6 {
  padding-inline-start: 4.5rem !important;
}

.logps-7 {
  padding-inline-start: 6rem !important;
}

.logps-8 {
  padding-inline-start: 9rem !important;
}

.logps-9 {
  padding-inline-start: 12rem !important;
}

.logps-10 {
  padding-inline-start: 18rem !important;
}

.logps-auto {
  padding-inline-start: auto !important;
}

.logpe-1 {
  padding-inline-end: 0.25rem !important;
}

.logpe-2 {
  padding-inline-end: 0.5rem !important;
}

.logpe-3 {
  padding-inline-end: 1rem !important;
}

.logpe-4 {
  padding-inline-end: 1.5rem !important;
}

.logpe-5 {
  padding-inline-end: 3rem !important;
}

.logpe-6 {
  padding-inline-end: 4.5rem !important;
}

.logpe-7 {
  padding-inline-end: 6rem !important;
}

.logpe-8 {
  padding-inline-end: 9rem !important;
}

.logpe-9 {
  padding-inline-end: 12rem !important;
}

.logpe-10 {
  padding-inline-end: 18rem !important;
}

.logpe-auto {
  padding-inline-end: auto !important;
}

.logpt-1 {
  padding-block-start: 0.25rem !important;
}

.logpt-2 {
  padding-block-start: 0.5rem !important;
}

.logpt-3 {
  padding-block-start: 1rem !important;
}

.logpt-4 {
  padding-block-start: 1.5rem !important;
}

.logpt-5 {
  padding-block-start: 3rem !important;
}

.logpt-6 {
  padding-block-start: 4.5rem !important;
}

.logpt-7 {
  padding-block-start: 6rem !important;
}

.logpt-8 {
  padding-block-start: 9rem !important;
}

.logpt-9 {
  padding-block-start: 12rem !important;
}

.logpt-10 {
  padding-block-start: 18rem !important;
}

.logpt-auto {
  padding-block-start: auto !important;
}

.logpb-1 {
  padding-block-end: 0.25rem !important;
}

.logpb-2 {
  padding-block-end: 0.5rem !important;
}

.logpb-3 {
  padding-block-end: 1rem !important;
}

.logpb-4 {
  padding-block-end: 1.5rem !important;
}

.logpb-5 {
  padding-block-end: 3rem !important;
}

.logpb-6 {
  padding-block-end: 4.5rem !important;
}

.logpb-7 {
  padding-block-end: 6rem !important;
}

.logpb-8 {
  padding-block-end: 9rem !important;
}

.logpb-9 {
  padding-block-end: 12rem !important;
}

.logpb-10 {
  padding-block-end: 18rem !important;
}

.logpb-auto {
  padding-block-end: auto !important;
}